

#analyzing_left {
    width: 576px;
    height: 576px;
    margin: 2px;
    positoin: relative;
    float: left;
    overflow: hidden;
    background-color: #C0DEED;
    -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#analyzing_sidebar {
    width: 356px;
    height: 576px;
    margin: 2px;
    float: left;
    background-color: transparent;
    -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#analyzing_sidebar_user_table {
    width: 350px;
    height: 520px;
    padding: 1px;
    border:1px solid;
    overflow-y: auto;
    background-color: #FFF;
}


.analyzing_user_pic {
    width: 26px;
    height: 26px;
    padding: 0px;
    margin: 0px;
}
