

#answered_left{
    width: 576px;
    height: 576px;
    margin: 2px;
    positoin: relative;
    float: left;
    overflow: hidden;
    background-color: #C0DEED;
    -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#answered_sidebar{
    width: 356px;
    height: 576px;
    margin: 2px;
    float: left;
    overflow: hidden;
    background-color: transparent;
    -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}


#answered_questions_div {
    width: 356px;
    height: 200px;
    margin: 0px;
    /*background-color: #FFF;*/
}

#answered_graph_div {
    width: 356px;
    height: 200px;
    margin: 0px;
    padding: 1px;
}

#answered_total_result_div {
    width: 356px;
    height: 170px;
    margin-top: 3px;
    /*background-color: #FFF;*/
}
